<div class="bogo-container">

    <div class="heading-container">
        <div class="line"></div>
        <h1>YAY! It’s BOGO</h1>
        <div class="line"></div>
    </div>
    

    <div
        *ngFor="let unit of units"
        class="bogo-box"
        (click)="expandBox(unit.id)"
        [class.expanded]="expandedBox === unit.id"
    >
        <!-- MOST POPULAR Badge -->
        <div  class="badge" *ngIf="unit.id === 'middle' && expandedBox === 'middle'">
            MOST POPULAR
        </div>

        <div class="header">
            <input type="radio" [class.align-start]="expandedBox === unit.id" name="bogo" [checked]="expandedBox === unit.id"/>
            <div class="custom-width-100">
                <div class="full-width">
                    <div>
                        <span class="fw-600">{{ unit.label }} <span class="discount">{{ unit.discount }}% Off</span></span>
                        <div class="custom-mt-text-left">Standard Price</div>
                    </div>
                    <div>
                        <div>
                            <span class="discounted-price">{{ calculateDiscountedPrice(unit.price, unit.discount) | currency: 'USD' }} USD</span>
                        </div>
                        <div class="strikethrough">
                            {{ unit.price | currency: 'USD' }} USD
                        </div>
                    </div>
                </div>

                
                <div class="details" *ngIf="expandedBox === unit.id">
                    <div class="header-selectbox">
                        <div class="size">Size</div>
                        <div class="color">Color</div>
                    </div>
                    <div *ngFor="let item of [].constructor(unit.quantity); let i = index" class="expanded-rows">
                        <label>#{{ i + 1 }}</label>
                        <select [(ngModel)]="unit.selectedSizes[i]" (click)="$event.stopPropagation()">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                        </select>
                        <select [(ngModel)]="unit.selectedColors[i]" (click)="$event.stopPropagation()">
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <span class="free-delivery">Free Delivery</span>
        <span class="total-price"> Total: {{ calculateTotalPrice() | currency: 'USD' }} USD</span>
    </div>

    <!-- <button class="add-to-cart" (click)="onAddToCart()">+ Add to Cart</button> -->
    <button class="add-to-cart" (click)="onAddToCart()">
        <span class="plus-icon"></span> Add to Cart
      </button>
</div>
